* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-table {
    height: auto;
    /* margin-bottom: 80px;*/
    flex: top;
    padding: 0;
   margin: 0;
   margin-top: 10px;
    /*padding-bottom: 60px;*/

}
.second-line, .number-font{
    font-size:22px;
    padding:5px;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height:cal(90vh-80px);
    width: 100wh;
    overflow-y: hidden;
    border-collapse: collapse;
    padding-bottom: 10px;
}
.logo{
    font-size: 40px;
    font-weight: bold;
    color:white;
    margin-top: 10px;
}
 .logo.dot{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #f7b510;
    border-radius:50%;
    margin-left: 50%;
    margin-top: 20px;
    vertical-align: middle;
}
.news{
    position:fixed;
    bottom: 0;
    width: 100%;
    background-color:white;
    color:black;
    font-weight: bold;
    font-size: 20px;
    height: 30px;
    display:flex;
    z-index:1000;
    padding:5px 0;
}
.news-text{
    white-space: nowrap;
    display: inline-block;
    padding-left: 100%;
    animation: scrollTicker 15s linear infinite;
    font-size: 20px;
    height: 40px;
    
}
h2 {
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: bold;
    text-align: left;
    width: 35px;
}

table {
    width: 100%;
    height: 90%;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: center;
}

.second-line {
    background-color: #f7b510;
    color: #111;
    width: 20px;
}

.number-font {
    font-size: 40px;
    font-family: 'Courier New', Consolas, Monaco, 'Lucida Console', monospace;
    font-weight: bold;
}

.name-font {
    font-size: 60px;
    font-family: Arial, sans-serif;
}
.second-section td,
.second-section th{
   border:1px;
   padding:50px;
   text-align:center;
}

.logo-container {
   
    text-align: center;
    margin-bottom: 10px;
    margin-top:10px;
    font-weight: bold;
    font-size: 40px;
}

.hisaab {
    align-items: center;
    font-size: 65px;
    justify-content: center;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 5px;
}

.number {
    font-size: 60px;
    color: white;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 60px;
    font-family: 'Courier New', Consolas, Monaco, 'Lucida Console', monospace;
}
.number-fontT{
    font-weight: bold;
    font-size: 40px;
}

th,
td {
    border: 1px solid white;
    padding: 25px;
    text-align: center;
    font-size: 24px;
}


th {
    background-color: #222;
}
audio{
    display: none;
}

.dot {
    color: #f7b510;
    margin-top: 20px;
}


td {
    background-color: #111;
}
@keyframes srcollTicker{
    0%{ transform: translateX(0%);}
    100%{ transform: translateX(-100%);}
}
.new-linelogo{
    background-color: white;
    color: #111;
    height: 40px;
    font-size: 30px;
}